@import url('http://fonts.cdnfonts.com/css/gotham-rounded');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: 300;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(33deg, #89cff0, #f089cf);
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 15vh);
    grid-template-rows: minmax(120px, auto) repeat(5, 15vh);
}
  
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
  
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 1.5vh;
    word-wrap: break-word;
    word-break: break-all;
    max-height: 20vh;
    margin-bottom: 1vh;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 4vh;
}
.output .current-operand{
    color: rgba(255, 255, 255, 1);
    font-size: 7vh;
    min-height: 8.5vh;
}